---
import BaseHead from "../elements/BaseHead.astro";
import MaxWidth from "../elements/MaxWidth.astro";
import Article from "../elements/Article.astro";
import Link from "../elements/Link.astro";
import Body from "../elements/Body.astro";
import ListItem from "../elements/ListItem.astro";
import Aside from "../elements/Aside.astro";

import GithubSpotlight from "../components/githubSpotlight.astro";

import { Image } from "astro:assets";

import profile from "../assets/imgs/sam.jpeg";
---

<html lang="en">
  <BaseHead title="Sam Felton's website" />
  <Body>
    <MaxWidth>
      <div class="flex gap-6">
        <Aside>
          <Image
            class="rounded-full dark:border-white dark:border-4"
            src={profile}
            alt="profile"
            height={300}
            width={300}
          />
          <Article delay={1000}>
            <GithubSpotlight />
          </Article>
        </Aside>
        <div>
          <Article>
            <h1>Sam Felton's Website</h1>
            <p>
              Hi, I'm Sam! I'm a developer passionate about user focused design,
              on a mission to become a truly full stack developer.
            </p>
            <p>Here's a bunch of links to my stuff. Enjoy!</p>
            <Link type="link" style="button" href="/felton-samuel-cv.pdf">
              Download Resume
            </Link>
          </Article>

          <Article delay={200}>
            <h2>About Me</h2>

            <ul class="flex flex-col gap-3">
              <ListItem
                text="Blog"
                href="https://about.samfelton.com"
                IconName="blog"
              />
            </ul>
          </Article>
          <Article delay={400}>
            <h2>What I'm Working On</h2>
            <ul class="flex flex-col gap-3">
              <ListItem
                text="My GitLab"
                href="https://gitlab.samfelton.com/me"
                IconName="gitlab"
              />
              <ListItem
                text="My GitHub"
                href="https://github.com/samfeltip"
                IconName="github"
              />
            </ul>
          </Article>
          <Article delay={600}>
            <h2>Where I Work</h2>
            <ul class="flex flex-col gap-3">
              <ListItem
                text="LinkedIn"
                href="https://www.linkedin.com/in/samfelton/"
                IconName="linkedin"
              />
            </ul>
          </Article>
          <Article delay={800}>
            <h2>Get in Touch</h2>
            <ul class="flex flex-col gap-3">
              <ListItem
                text="sf.samfelton@icloud.com"
                href="mailto:sf.samfelton@icloud.com"
                IconName="email"
              />
            </ul>
          </Article>
        </div>
      </div>
    </MaxWidth>
  </Body>
</html>
